*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
    
section{
    height: 100vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    }
    
.header h1 {
font-size: 40px;
}

.column-left{
    padding:5px;
    /* float: left; */
}

.column-right{
    /* padding:40px; */
    text-align: justify;
    text-justify: inter-word;
}

.column-right p{
    font-size: calc(8px + 1vw);
}

.column-right h1{
    font-size: calc(16px + 2vw);
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.footer{
    padding:20px;
    text-align: center;
}

a[href^='mailto']::before {
    content: '📧 ';
    }
    
a[href^='tel']::before {
content: '📞 ';
}

#about{
    background-color: f0edee;
    border: 1px solid white;
}
#contact{
    background-color: #f0edee;
}

/* Style all font awesome icons */
.fa {
    
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }